[submodule "FTools"]
	path = FTools
	url = https://github.com/bigunclemax/FTools.git
[submodule "cmake-git-version-tracking"]
	path = cmake-git-version-tracking
	url = https://github.com/andrew-hardin/cmake-git-version-tracking.git
